{% extends 'adminPortal/base.html' %}
{% load static %}
{% block body %}
      
    <section class="content">
        <div class="container-fluid">
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                              EXAMINATION
                            </h2>
                        </div>
                   </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            EXAMINATION RECORD
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <!-- <th> 
                                            <div class="switch"> 
                                                <label><input type="checkbox" class="update_checkbox" id="selectAll" value=""><span class="lever"></span></label>
                                                Select  
                                            </div>
                                        </th> -->
                                        <th>School Name</th>
                                        <th>Limit</th>
                                        <th> Submitted</th>
                                        <th>Approved</th>
                                        <th>Declined</th>
                                        <th>Set Limit</th>
                                        <th>Reverse</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                        <tr>
                                          <!-- <th>
                                              Select
                                          </th> -->
                                            <th>School Name</th>
                                            <th>Limit</th>
                                            <th> Submitted</th>
                                            <th>Approved</th>
                                            <th>Declined</th>
                                            <th>Set Limit</th>
                                            <th>Reverse</th>
                                        </tr>
                                </tfoot>
                                <tbody>
                                    {% for all_sch in all_school_record %}

                                    <tr>
                                      <!-- <td>
                                            <div class="switch">
                                                <label><input type="checkbox" class="update_checkbox" value=""><span class="lever"></span></label>
                                            </div>
                                        </td> -->
                                        
                                       <td> {{all_sch.User|title}}</td>
                                       <td>{{all_sch.exam_quota_limit}}</td>
                                        <td>
                                            <a href="{% url 'adminPortal:sch_exam_rec' id=all_sch.id %}" target="_blank"> <button type="button" style="background-color: #ccbd0d; color:white" class="btn btn-block waves-effect"> {{all_records|get_item:all_sch.id}}</button>
                                        </td>
                                        
                                        <td>
                                            <a href="{% url 'adminPortal:approved_exam_rec' id=all_sch.id %}" target="_blank"> <button type="button"  class="btn bg-green btn-block waves-effect"> {{approved_records|get_item:all_sch.id}}</button>
                                        </td>
                                        <td>
                                            <a href="{% url 'adminPortal:declined_exam_rec' id=all_sch.id %}" target="_blank"> <button type="button"  class="btn bg-red btn-block waves-effect"> {{declined_records|get_item:all_sch.id}}</button>
                                        </td>


                                                
                                               <td>
                                                   <a href="#"><i class="material-icons" data-toggle="modal" data-target="#resetLimit">autorenew</i></a>
                                                       <div class="modal fade" id="resetLimit" tabindex="-1" role="dialog">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4>Reset Indexing Limit</h4>
                                                                        </div> 
                                                                    <div class="modal-body"> 
                                                                            <div class="row clearfix">
                                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                    <div class="card">
                                                                                    <div class="body table-responsive">
                                                                                    <table class="table table-striped">
                                                                                    <tbody>
                                                                                            <tr>
                                                                                                <td><b>Set Limit</b>
                                                                                                <div class="form-group form-float" style="margin-top:5%">
                                                                                                    <div class="form-line">
                                                                                                        <form action="{% url 'adminPortal:exam_limit' id=all_sch.id  %}" method="post">
                                                                                                            {% csrf_token %}
                                                                                                            <input type="number" name="exam_quota_limit" class="form-control">
                                                                                                            <label class="form-label">Click to enter limit for school</label>
                                                                                                            <button class="btn btn-primary btn-lg" style="margin-top:20px;margin-bottom:20px;" type="submit">RESET</button>
                                                                                                        </form>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            </tr>
                                                                                        
                                                                                            
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <a href="{% url 'adminPortal:reverse_exam_record' id=all_sch.id  %}"><i class="material-icons" >reply_all</i> </a>
                                                 </td>
                                            </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                        
                        </div>
                        {% if all_school_record.has_other_pages %}
                        <nav aria-label="all_school_record Pagination" class="mb-4">
                            <ul class="pagination">
                                {% if all_school_record.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ all_school_record.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                                {% endif %}

                                {% for page_num in all_school_record.paginator.page_range %}
                                    {% if all_school_record.number == page_num %}
                                        <li class="page-item active">
                                            <span class="page-link">
                                                {{page_num}}
                                                <span class="sr-only">(current)</span>
                                            </span>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if all_school_record.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{all_school_record.next_page_number}}">Next</a>
                                        </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">Next</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
       
        
     
    
     <script>
       
        function reset(){
            
            var checkbox = $('.update_checkbox:checked');
  if(checkbox.length > 0)
  {
   var checkbox_value = [];
   $(checkbox).each(function(){
    checkbox_value.push($(this).val());
   });
   
 
 window.location.href='admin/Examination_dept?checkbox_value='+checkbox_value+'&len='+checkbox_value.length;
  }
  else
  {
   alert('Select atleast one records');
  }
        }
        
 
       function reset1(){
            
            var checkbox = $('.update_checkbox:checked');
  if(checkbox.length > 0)
  {
   var checkbox_value = [];
   $(checkbox).each(function(){
    checkbox_value.push($(this).val());
   });
   var value = document.getElementById('num').value;
 
 window.location.href='<?php echo base_url(); ?>admin/Examination_dept?checkbox_value1='+checkbox_value+'&reset='+value+'&len='+checkbox_value.length;
  }
  else
  {
   alert('Select atleast one records');
  }
        }
        
    </script>
    
    
      <!-- Select all JS --> 
    <script>
        $("#selectAll").click(function () {
        $(".update_checkbox").prop('checked', $(this).prop('checked'));
        });
    </script>
    
{% endblock %}