<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    
    <title>Dental Therapists' Registration Board Of Nigeria</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->

    <link href="<?php echo base_url(); ?>admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="<?php echo base_url(); ?>admin/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="<?php echo base_url(); ?>admin/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="<?php echo base_url(); ?>admin/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="<?php echo base_url(); ?>admin/css/style.css" rel="stylesheet">
    
    

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="<?php echo base_url(); ?>admin/css/themes/all-themes.css" rel="stylesheet" />
     <!-- JQuery DataTable Css -->
    <link href="plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">


 
   

    
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html"><b><?php echo strtoupper($user->username); ?></b></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">7</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">NOTIFICATIONS</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>4 sales made</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 22 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-red">
                                                <i class="material-icons">delete_forever</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy Doe</b> deleted account</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy</b> changed name</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 2 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-blue-grey">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> commented your post</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 4 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">cached</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> updated status</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Notifications</a>
                            </li>
                        </ul>
                    </li>
                 
                    <!-- #END# Tasks -->
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="<?php echo base_url(); ?>/assets/images/logo.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo strtoupper($user->username); ?></div>
                    <div class="email">admin@dthrbn.gov.ng</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="<?php echo site_url('auth/logout'); ?>"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                               <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="<?php echo site_url('admin/Dashboard'); ?>">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="<?php echo site_url('admin/professional'); ?>">
                            <i class="material-icons">account_circle</i>
                            <span>Professionals</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo site_url('admin/accredited'); ?>">
                            <i class="material-icons">assignment_turned_in</i>
                            <span>Accredited Schools</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo site_url('admin/indexing'); ?>"  >
                            <i class="material-icons">create_new_folder</i>
                            <span>Indexing</span>
                        </a>
                         
                    </li>
                    <li>
                        <a href="<?php echo site_url('admin/Examination_dept'); ?>" >
                            <i class="material-icons">border_color</i>
                            <span>Examination Dept</span>
                        </a>
                         
                    </li>
                    <li>
                        <a href="javascript:void(0);"  >
                            <i class="material-icons">date_range</i>
                            <span>Events</span>
                        </a>
                    </li>
                
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2019 <a href="javascript:void(0);">Dental Therapist Board Of Nigeria</a>.
                </div>
                <!-- <div class="version">
                    <b>Version: </b> 1.0.5
                </div> -->
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
      
    <section class="content">
        <div class="container-fluid">
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                              PROFESSIONALS 
                             <a href="<?php echo site_url('admin/professional/add'); ?>"> <button type="button" class="btn bg-indigo waves-effect" style="float:right; margin-top: -1%">
                                    <i class="material-icons"> add_circle</i>
                                    <span>CREATE NEW</span>
                                </button>
                                </a>
                                <!--<div class="col-md-5" style="float:right">-->
                                <!--    <div class="input-group">-->
                                <!--            <div class="form-line">-->
                                <!--                <input type="text" class="form-control date" placeholder="Search">-->
                                <!--            </div>-->
                                <!--            <span class="input-group-addon">-->
                                <!--                <i class="material-icons">search-icon</i>-->
                                <!--            </span>-->
                                <!--        </div>-->
                                <!--</div>-->
                              
                            </h2>
                                                </div>
                  
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                           
                                   
                        <h2>
                            PROFESSIONALS RECORD
                            
                          
                  
                     <form method="post" action="#"  style="float:right; margin-top: -1%">
                            <input type="submit" class="btn bg-red waves-effect" value="Export All Professional Details" name="export" />
                        </form>
                 
                        </h2>
                       
                        
                         
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="proff">
                                <thead>
                                    <tr>
                                        
                                        <th>Name</th>
                                        <th>Reg Number</th>
                                        <th>Category</th>
                                     
                                      
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Licence Due Date</th>
                                        <th>View</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                          
                                        <th>Name</th>
                                        <th>Reg Number</th>
                                        <th>Category</th>
                                     
                                       
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Licence Due Date</th>
                                        <th>View</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    
                                    <?php 
                                     if(count($professionals)){
                                    
                                    foreach($professionals as $professional){ ?>
                                    <tr>
                                        <!--<td><div class="switch">-->
                                        <!--        <label><input type="checkbox"><span class="lever"></span></label>-->
                                                
                                        <!--    </div></td>-->
                                        <td><?php echo $professional->first_name.' '.$professional->last_name; ?></td>
                                        <td><?php echo $professional->reg_number;?></td>
                                        <td><?php echo $professional->school_category;?></td>
                                      
                                        <td><?php echo $professional->phone?></td>
                                        <td><?php echo $professional->email?></td>
                                        <td><?php echo $professional->license_due_date;?></td>
                                   
                                        <td><a href="#" ><i class="material-icons modal_click" data-toggle="modal" data-target="#largeModal<?php echo $professional->id ?>">visibility</i></a>
                                        
                                        
                                        <div class="modal fade" id="largeModal<?php echo $professional->id ?>" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="image" style="text-align: center">
                               
                              <?php 
                              if($professional->image){
                                  ?>
                                 <img src="<?php echo base_url('uploads/images/professional/'.$professional->image); ?>" width="112" height="112" alt="User" style="border: 8px solid #efefef; border-radius: 100%"/>
                    
                                 <?php  
                              }else{
                              
                              echo '<img src="images/default_avtar.jpg" width="112" height="112" alt="User" style="border: 8px solid #efefef; border-radius: 100%"/>';
                              }
                              ?>
                                
                        </div>
                    </div>
                    <div class="modal-body"> 
                            <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2 style="align:center;">
                                             <b> OFFICE DETAILS </b>
                                             <span style="float: right; margin-right: 5%"><b>REGISTRATION NUMBER: </b> <?php echo $professional->reg_number;?></span>
                                                <!-- <small>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code></small> -->
                                            </h2>
                                            
                                            <ul class="header-dropdown m-r--5">
                                               
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="javascript:void(0);">Action</a></li>
                                                        <!--<li><a href="javascript:void(0);">Edit</a></li>-->
                                                        <li><a href="<?php echo site_url('admin/professional/delete/'.$professional->id);?>">Delete</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                        
                                <div class="body table-responsive">
                                    <table class="table table-striped">
                                      <tbody>
                                            <tr>
                                                <td><b>Employment Status:</b>  <?php echo $professional->employment_status;?></td>
                                                <td><b>Present Position:</b>  <?php echo $professional->position;?></td>
                                                <td><b>Department:</b>  <?php echo $professional->department;?></td>
                                            </tr>
                                            <tr>
                                                <td><b>Office Name:</b> <?php echo $professional->office_name;?></td>
                                                <td><b>Office Address:</b>  <?php echo $professional->office_address;?></td>
                                                <td><b>Sector:</b> <?php echo $professional->private_or_public;?></td>
                                            </tr>
                                            <tr>
                                                <td><b>Office Country:</b>  <?php echo $professional->office_country;?></td>
                                                <td><b>Office State:</b>  <?php echo $professional->office_state;?></td>
                                                <td><b>Office LGA:</b> <?php echo $professional->office_lga;?></td>
                                            </tr>
                                            <tr>
                                                <td><b>Office Phone:</b>+ <?php echo $professional->office_phone;?></td>
                                                <td><b>Office Email: </b> <?php echo $professional->office_email;?></td>
                                                <td><b>Category: </b> <?php echo $professional->school_category;?></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2 style="align:center">
                                          <b>PERSONAL DETAILS</b>
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);">Action</a></li>
                                                    <!--<li><a href="javascript:void(0);">Edit</a></li>-->
                                              <li><a href="<?php echo site_url('admin/professional/delete/'.$professional->id);?>">Delete</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body table-responsive">
                                        <table class="table table-striped">
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><b>First Name:</b>  <?php echo $professional->first_name;?></td>
                                                    <td><b>Middle Name: </b>  <?php echo $professional->middle_name;?></td>
                                                    <td><b>Last Name: </b>  <?php echo $professional->last_name;?></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Gender: </b>  <?php echo $professional->gender;?></td>
                                                    <td><b>Title: </b>  <?php echo $professional->title;?></td>
                                                    <td><b>Marital Status: </b>  <?php echo $professional->marital_status;?> </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Maiden Name: </b>  <?php echo $professional->maiden_name;?></td>
                                                    <td><b>Phone No: </b>  <?php echo $professional->phone;?></td>
                                                    <td><b>Email: </b> <?php echo $professional->email;?></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Postal Address: </b> <?php echo $professional->postal;?></td>
                                                    <td><b>Residential Country: </b>  <?php echo $professional->residential_country;?></td>
                                                    <td><b>Residential State: </b>  <?php echo $professional->residential_state;?></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Residential Address: </b><?php echo $professional->residential_address;?> </td>
                                                    <td><b>Residential LGA: </b> <?php echo $professional->residential_lga;?></td>
                                                    <td><b>State Of Origin: </b> <?php echo $professional->state_of_origin;?></td>
                                                </tr>
                                                <tr>
                                                        <td><b>LGA: </b> <?php echo $professional->lga;?></td>
                                                        <td><b>Senatorial District: </b> <?php echo $professional->senetorial_district;?></td>
                                                        <td><b>Date Of Birth: </b> <?php echo $professional->date_of_birth;?></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>State Of Birth: </b> <?php echo $professional->state_of_birth;?></td>
                                                        <td><b>LGA Of Birth : </b> <?php echo $professional->lga_of_birth;?></td>
                                                    </tr>
                                             </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2 style="align:center">
                                              <b>EDUCATION QUALIFICATIONS WITH DATES</b>
                                            </h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="javascript:void(0);">Action</a></li>
                                                        <!--<li><a href="javascript:void(0);">Edit</a></li>-->
                                                          <li><a href="<?php echo site_url('admin/professional/delete/'.$professional->id);?>">Delete</a></li>li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="list-group">
                                                <li class="list-group-item"><?php echo $professional->ssce;?></li>
                                                <li class="list-group-item"><?php echo $professional->degree;?></li></li>
                                                <li class="list-group-item"><?php echo $professional->msc;?></li>
                                                <li class="list-group-item"><?php echo $professional->others;?></li>
                                             
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h2 style="align:center">
                                                      <b>PROFESSIONAL QUALIFICATIONS WITH DATES</b>
                                                    </h2>
                                                    <ul class="header-dropdown m-r--5">
                                                        <li class="dropdown">
                                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">more_vert</i>
                                                            </a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li><a href="javascript:void(0);">Action</a></li>
                                                                <!--<li><a href="javascript:void(0);">Edit</a></li>-->
                                                                  <li><a href="<?php echo site_url('admin/professional/delete/'.$professional->id);?>">Delete</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="list-group">
                                                        <li class="list-group-item"><?php echo $professional->prof_q1;?></li>
                                                        <li class="list-group-item"><?php echo $professional->prof_q2;?></li>
                                                        <li class="list-group-item"><?php echo $professional->prof_q3;?></li>
                                                        <li class="list-group-item"><?php echo $professional->prof_q4;?></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                            
                            
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        </td>
                                        <td>
                                            <a href="#"><i class="material-icons" data-toggle="modal" data-target="#resetLimit<?php echo $professional->id; ?>">autorenew</i>
                                            
                                            <div class="modal fade" id="resetLimit<?php echo $professional->id; ?>" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                    <div class="image" style="text-align: center">
                                      <?php 
                              if($professional->image){
                                  ?>
                                 <img src="<?php echo base_url('uploads/images/professional/'.$professional->image); ?>" width="112" height="112" alt="User" style="border: 8px solid #efefef; border-radius: 100%"/>
                    
                                 <?php  
                              }else{
                              
                              echo '<img src="images/default_avtar.jpg" width="112" height="112" alt="User" style="border: 8px solid #efefef; border-radius: 100%"/>';
                              }
                              ?>       
                                    </div>
                                </div>
                                <div class="modal-body"> 
                                        <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="card">
                                                    <div class="header">
                                                        <h5 style="align:center;">
                                                         <b> Name: <?php $professional->title.' '.$professional->first_name.' '.$professional->last_name; ?> </b>
                                                        
                                                        </h5>
                                                      </div>
                                    
                                                <div class="body table-responsive">
                                                    <table class="table table-striped">
                                                      <tbody>
                                                            <tr>
                                                                <td><b>Reset Due Date</b>
                                                                <div class="form-group form-float" style="margin-top:5%">
                                                                    <div class="form-line">
                                                                       <form action="#" method="post">
                                                                <input type="text" name="limit" class="form-control">
                                                                <input type="number" name="id" style="display:none;" value="<?php echo $professional->id;?>" />
                                                                <label class="form-label">2019-06-11</label>
                                                                
                                                                <Button class="btn btn-primary btn-lg" style="margin-top:20px;margin-bottom:20px;"  name="reset" type="submit">RESET</Button>
                                                                </form>
                                                                    </div>
                                                                </div></td>
                                                            </tr>
                                                           
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                       
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                
            </div></a>
                                        </td>
                                    </tr>
                                   
                                   <?php
                                   
                                    }
                                    }else{
                                      echo "<tr>NO DATA FOUND</tr>";
                                    }
                                    
                                    
                                   
                                   ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Large Size -->
        
        <!-- #END# Exportable Table -->
    </section>

    <!-- Jquery Core Js -->
    <script src="plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="plugins/raphael/raphael.min.js"></script>
    <script src="plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="plugins/flot-charts/jquery.flot.js"></script>
    <script src="plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="plugins/flot-charts/jquery.flot.time.js"></script>
    


    <!-- Jquery DataTable Plugin Js -->
    <script src="plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    
       <!-- Custom Js -->
    <script src="js/admin.js"></script>
    <script src="js/pages/tables/jquery-datatable.js"></script>


    <!-- Sparkline Chart Plugin Js -->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="js/admin.js"></script>
    <script src="js/pages/index.js"></script>

    <!-- Demo Js -->
    <script src="js/demo.js"></script>
    <script>
        $(document).on("click", ".modal_click", function () {
     var id = $(this).data('id');
     $(".modal-body #id").val( id );
     
});

 
        
    </script>

    
    
    
</body>

</html>


